@{
    ViewBag.Title = "Fakultas";
    ViewBag.Logo = "Fakultas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- .modal -->
<div class="modal fade" id="AddEditModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-weight: bold;"></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
            <div class="box-body">
                <div hidden class="form-group" id="fks-combo">
                    <label for="select-fks" class="col-sm-2 control-label">Fakultas</label>
                    <div class="col-sm-4">
                        <select class="form-control form-inputs" id="select-fks"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label" id="name-lbl"></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-inputs" placeholder="Nama" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="desc" class="col-sm-2 control-label" id="desc-lbl"></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-inputs" placeholder="Deskripsi" id="desc">
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kembali</button>
        <span>
            <button hidden type="button" class="btn btn-success" id="btn-add-fks">Tambah</button>
            <button hidden type="button" class="btn btn-success" id="btn-edit-fks">Simpan</button>
            <button hidden type="button" class="btn btn-success" id="btn-add-prodi">Add</button>
            <button hidden type="button" class="btn btn-success" id="btn-edit-prodi">Save</button>
        </span>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Contet Header -->
<section class="content-header">
    <h1 class="card-text">
    Fakultas dan Program Studi
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Fakultas & Prodi</li>
    </ol>
</section>
<!-- Main Content -->
<section class="content">
    <div class="row">
        <div class="col-xs-6">
            <div class="box card-custom">
                <div class="box-header">
                    <h2 class="box-title"><b>Fakultas</b></h2>
                </div>
                <div class="box-body">
                    <div>
                        <label>
                            <a class="btn btn-sm btn-success card-btn" data-toggle="modal" data-target="#AddEditModal" id="Add-Fks-btn" data_item="Fakultas"><strong>Add Fakultas</strong></a>
                        </label>
                    </div>
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div id="tbl-loading" class=""></div>
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table id="tblFks" class="table table-bordered table-striped table-hover">
                                    <thead class="bg-me">
                                        <tr>
                                            <th class="status-user col-md-1">#</th>
                                            <th>Fakultas<i class="pull-right glyphicon glyphicon-sort-by-attributes"></i></th>
                                            <th>Deskripsi<i class="pull-right glyphicon glyphicon-sort-by-attributes"></i></th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="col-xs-6">
            <div class="box card-custom">
                <div class="box-header">
                    <h2 class="box-title"><b>Program Studi</b></h2>
                </div>
                <div class="box-body">
                    <div>
                        <label>
                            <a class="btn btn-sm btn-success card-btn" data-toggle="modal" data-target="#AddEditModal" id="Add-Prodi-btn" data_item="Program Studi"><strong>Add Program Studi</strong></a>
                        </label>
                    </div>
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table id="tblProdi" class="table table-bordered table-striped table-hover">
                                    <thead class="bg-me">
                                        <tr>
                                            <th class="status-user col-md-1">#</th>
                                            <th>Program Studi<i class="pull-right glyphicon glyphicon-sort-by-attributes"></i></th>
                                            <th>Deskripsi<i class="pull-right glyphicon glyphicon-sort-by-attributes"></i></th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>
</section>

@section scripts {
    <script src="~/Scripts/Fakultas.js" type="text/javascript"></script>
}