.bg-me {
    background-color: #01a553 !important;
    color: rgb(243, 243, 243);
    border-radius: 10px 6px 10px 6px;
}

.card-text {
    font-family: monospace !important;
    font-weight: bold !important;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.card-btn {
    border: none !important;
    border-radius: 24px !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) !important;
}

.card-logo {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.card-logo:before,
.card-logo:after {
    content: " ";
    display: table;
}
.card-logo:after {
    clear: both;
}
.card-logo > .logo > img {
    width: 100%;
    max-width: 160px;
    height: auto;
}

.card-table {
    border-radius: 6px;
    border: 2px solid black;
    padding: 12px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.6);
    margin: auto 10px auto 10px;
}

.my-table {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px !important;
    border-collapse: initial;
}

.tb-content {
    padding: 10px 0 0 4px !important;
    margin: 4px auto auto 4px !important;
    line-height: 15px !important;
}

.status-user {
    text-align: center !important;
    font-weight: bold !important;
}

.box-custom {
    background-color: #e9f9ff !important;
    height: 40px;
}

.card-custom {
    border-radius: 0px 20px 0px 20px;
}

.form-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    margin: 10px;
}

.form-label {
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-family: sans-serif;
}

.form-inputs{
    border-radius: 6px 6px 6px 6px !important;
    font-family: sans-serif;
}

.form-addon {
    background-color: lightgray;
    border-radius: 6px 0 0 6px !important;
}

.form-inputs.with-addon {
    border-radius: 0 6px 6px 0 !important;
}

/* Switch Button */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(44, 189, 0);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(44, 189, 0);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}